$primary: #005E7C;
$secondary: #ABDF75;
$background: #f7f7f7;
$input-background: #ECEFED;

$row-padding: 30px;
$card-deck-height: 166px;

$MD: 1208px;
$SM: 1008px;
$XS: 640px;
$XX: 584px;
$ZZ: 420px;

$breakpoints: (
	lg: 1082px,
	md: 912px,
	sm: 100%,
	xs: 100%
);